html {
  background: #342a4c;
  background-image: linear-gradient(to right, #342a4c, #6d50a3, #342a4c);
  background-attachment: fixed;
  color: #cf8b3c;
}

body {
  color: #d5baa5;
  font: 300 18px/1.6 "Futura", sans-serif;
  margin: 0;
  padding: 10em 0 2em;
  text-align: center;
}

h1 {
  font-weight: 300;
  margin: 0;
  font-size: 1.5em;
  padding-bottom: 20px;
}

.calculator {
  font-size: 28px;
  margin: 0 auto;
  width: 10em;
}

.viewer {
  color: #afa7c6;

  line-height: 3em;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 7.5em;
  height: 3em;
}

button {
  border: solid rgba(161, 57, 8, 0.2) 1px;
  background: rgba(52, 42, 76, 0.28);
  color: #cf8b3c;
  cursor: pointer;
  float: left;
  font: inherit;
  width: 3em;
  height: 3em;
  transition: all 0.5s;
}

button:hover {
  background: rgba(161, 57, 8, 0.8);
  color: #6d50a3;
}

@media (min-width: 420px) {
  .calculator {
    width: 12em;
  }
  .viewer {
    width: 8.5em;
  }
  button {
  }
}
